$half_font : 0.5rem;
$clear : rgba(0,0,0,0);

:root {
  --layer_color : rgba(0,0,0,0.1);
  --base_color  : #fff;
  --assort_color: #222;
  --accent_color: #d04;
  --ok_color: #1f0;
  --ng_color: #f09;
  --ng_field_color: #f8b;
  }
@media (prefers-color-scheme: dark) {
  :root {
    --layer_color : rgba(255,255,255,0.1);
    --base_color  : #222;
    --assort_color: #fff;
  }
}

:root {
  font-size: calc(75% + 0.3vw);
  background-color: var(--base_color);
  color: var(--assort_color);
}

%wrapper {
  border-radius: $half_font;
  padding: $half_font;
}

%tin {
  opacity: 0.8;
}

%bold {
  font-weight: 900;
}

.area {
  @extend %wrapper;
  margin: $half_font;
  background-color: var(--layer_color);
}

.input {
  @extend %wrapper;
  border-width: 2px;
  border-color: $clear;
  background-color: var(--assort_color);
  color: var(--base_color);
  &::before{
    display: block;
    color: #1f0;
    content: "18290";
  }
  &:focus {
    border-color: var(--accent_color);
    outline: 0
  }
  &:invalid {
    background-color: var(--ng_field_color);
  }
}

.button {
  @extend %wrapper;
  font-weight: 900;
  padding-right: 1rem;
  padding-left : 1rem;
  margin: $half_font;
  display: inline-block;
  background-color: var(--accent_color);
  color: white;
  &:disabled{
    background-color: var(--layer_color);
  }
}

.inputFile {
  label {
    @extend .button;
    &::after{
      @extend %bold;
      content: "ファイルを選択";
    }
    input {
      display: none;
    }
  }
}

.hide {
  display: none;
}

.li-exist {
  color: var(--ok_color);
}

.li-lack {
  color: var(--ng_color);
}

.flex {
  display: flex;
  flex-direction: column;
}