@import "./atom.scss";

.dropArea {
  text-align: center;
  &.active {
    background-color: var(--accent_color);
  }
  &::before {
    @extend %tin;
    display: inline-block;
    margin: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.dropArea-model{
  @extend .dropArea;
  &::before{
    content: "ここに .bbmodel ファイルをドロップしてください";
  }
}

.dropArea-sound{
  @extend .dropArea;
  &::before{
    content: "ここに下記の .mp3 / .ogg ファイルをドロップしてください";
  }
}

.download {
  text-align: center;
}

.labeledInput {
  width:max-content;
  padding: $half_font;
  display: inline-block;
}

.header {
  display: flex;
  align-items:flex-end;
  background-color: var(--assort_color);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 5rem;
  padding-left: 5rem;
  color: var(--base_color);
  h1{
    font-size: 1.5rem;
    font-weight: 900;
    flex-grow:10;
  }
  a{
    font-weight: 900;
  }
}
